/* 快速发布 */
.enrollmentManagement{
    position: relative;
    padding: 30px 0;
}
.enrollmentManagement .btn_issue{
    width: 2.18666rem;
    height: 0.69333rem;
    padding: 5px 0 5px 5px;
    background:rgba(255,255,255,0.66);
    box-shadow:0px 4px 6px rgba(255,68,75,0.16);
    border-radius:40px 0px 0px 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 3.86666rem;
    right: 0;
    z-index: 999;
}
.enrollmentManagement .btn_issue .btn{
    width: 1.92rem;
    height: 0.373333rem;
    background:rgba(255,68,75,1);
    border-radius:25px 0px 0px 25px;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 10px;
    z-index: 9999;
}
.enrollmentManagement .btn_issue .btn img{
    width: 0.373333rem;
    height: 0.373333rem;
}
.enrollmentManagement .btn_issue .btn p:nth-child(1){
    width: 0.373333rem;
    height: 0.373333rem;
    margin-right: 5px;
}
.enrollmentManagement .btn_issue .btn p:nth-child(2){
    font-size:0.32rem;
    font-weight:400;
    line-height:17px;
    color:rgba(255,255,255,1);
    opacity:1;
}

.enrollmentManagement .nodatapic{
    width: 9.54rem;
    text-align: center;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    color:rgba(198,198,198,1);
    margin-bottom: 30px;
    padding-top: 200px;
}
.enrollmentManagement .nodatapic img{
    width: 150px;
    height: 150px;
}


/* 顶部 */



/* 弹出框 */

/* 瀑布流 */
.enrollmentManagement .gcList{
    padding: 0 0.35rem 35px 0.35rem;
    overflow: hidden;
    background: #fff;

}

.enrollmentManagement .gcList > .gc_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enrollmentManagement .gcList > .gc_top .gcListitle{
    font-size: 0.48rem;
    font-weight: bold;
    color: #353239;
}
.enrollmentManagement .gcList > .gc_top .liststate{
    display: flex;
    font-size: 0.373333rem;
    color: #C6C6C6;
}
.enrollmentManagement .gcList > .gc_top .liststate p{
    margin-left: 0.32rem;
    
}
.showActive{
    font-weight: bold;
    color: #353239;
}

/* 好课 */
.enrollmentManagement .gcList .listbox{
    margin-top: 0.5333rem;
}

.enrollmentManagement .gcList .listbox .item{
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 8px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.enrollmentManagement .gcList .listbox .item .lowershelf{
    width:61px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background:rgba(53,50,57,0.6);
    border-radius:8px 0px 8px 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.enrollmentManagement .gcList .listbox .item .lowershelf p{
    color:rgba(255,255,255,1);
    opacity: 1;
}
.lower{
    color: rgba(155, 155, 155, 1)!important;
}
.lowerbg{
    background-color: rgba(246, 246, 246, 1)!important;
}
.lowertagprice{
    color: rgba(198, 198, 198, 1)!important;
}
.enrollmentManagement .gcList .listbox #vueWaterfall{
    overflow: visible;
}
.enrollmentManagement .gcList .listbox .item .listpic{
    width: 100%;
    overflow: hidden;
    height: 3.09333rem;
    background: url('../../assets/images/default.png') no-repeat;
    background-size: 100% 100%;
}
.enrollmentManagement .gcList .listbox .item .listpic img{
    /* width: 100%; */
    /* height: 3.09333rem; */
    width: 100%;  
    height: 100%;  
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.enrollmentManagement .gcList .listbox .item .tagbox{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 8px;
    padding-left: 0.21333rem;
}
.enrollmentManagement .gcList .listbox .item .tagbox span{
    font-size: 10px ;
    font-weight: 500;
    line-height: 14px;
    color: #ff9f1b;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: #fbf5ed;
    margin-right: 0.1334rem;
}
.enrollmentManagement .gcList .listbox .item .titl{
    color: #353239;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    box-sizing: border-box;

}
.enrollmentManagement .gcList .listbox .item .price{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 8px;
    box-sizing: border-box;
}
.enrollmentManagement .gcList .listbox .item .price i{
    font-size: 12px;
}
.enrollmentManagement .gcList .listbox .item .price span{
    display: inline-block;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .price span:nth-child(1){
    color: #FF444B;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 8px;
}
.enrollmentManagement .gcList .listbox .item .price span:nth-child(2){
    color: #C6C6C6;
    font-size: 12px;
    line-height: 24px;
    text-decoration: line-through;
    font-weight: normal;
}

.enrollmentManagement .gcList .listbox .item .divider{
    padding: 0 0.21333rem;
    margin: 0;
}

.enrollmentManagement .gcList .listbox .item .location{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.32rem;
    margin-top: 0.32rem;
} 
.enrollmentManagement .gcList .listbox .item .location .locapic{
    width: 0.85333rem;
    height: 0.85333rem;
    border-radius: 5px;
    margin-left: 0.21333rem;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .location .locapic img{
    /* width: 0.85333rem;
    height: 0.85333rem; */
    width: 100%;  
    height: auto;  
}

.enrollmentManagement .gcList .listbox .item .location .locainfo{
    display: flex;
    flex-direction: column;
}

.enrollmentManagement .gcList .listbox .item .location .locainfo span{
    margin-left: 0.2666rem;
}
.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(1){
    font-size: 12px;
    height: 0.45333rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 9em;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(2){
    font-size: 11px;
    height: 14px;
    color: #9B9B9B;
    line-height: 20px;
} 

.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(2) i{
    color: #4DC9BD;
} 