/* 快速发布 */
.enrollmentManagement{
    position: relative;
}
.enrollmentManagement .btn_issue{
    width: 2.18666rem;
    height: 0.69333rem;
    padding: 5px 0 5px 5px;
    background:rgba(255,255,255,0.66);
    box-shadow:0px 4px 6px rgba(255,68,75,0.16);
    border-radius:40px 0px 0px 40px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 3.86666rem;
    right: 0;
    z-index: 999;
}
.enrollmentManagement .btn_issue .btn{
    width: 1.92rem;
    height: 0.373333rem;
    background:rgba(255,68,75,1);
    border-radius:25px 0px 0px 25px;
    display: flex;
    align-items: center;
    padding: 6px 0 6px 10px;
    z-index: 9999;
}
.enrollmentManagement .btn_issue .btn img{
    width: 0.373333rem;
    height: 0.373333rem;
}
.enrollmentManagement .btn_issue .btn p:nth-child(1){
    width: 0.373333rem;
    height: 0.373333rem;
    margin-right: 5px;
}
.enrollmentManagement .btn_issue .btn p:nth-child(2){
    font-size:0.32rem;
    font-weight:400;
    line-height:17px;
    color:rgba(255,255,255,1);
    opacity:1;
}


/* 顶部 */
.enrollmentManagement .topbox{
    width:10rem;
    /* height:4.82666rem; */
    background:linear-gradient(127deg,rgba(94,88,98,1) 0%,rgba(53,50,57,1) 100%);
    z-index: 5;
    box-sizing: border-box;
    border-bottom:1px solid white ;
} 

.enrollmentManagement .topbox .userinfo{
    display: flex;
    align-items: center;
    padding:0.6133333rem 0.426666rem 0 0.426666rem ;
    margin-bottom: 0.56rem;
    position: relative;
    
} 
.enrollmentManagement .topbox .userinfo .pic{
    width: 167px; 
    height: 176px;
    background: url('../../images/mine/inglogo2.png') no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: -0.53333rem;
    z-index: 10;
}
.enrollmentManagement .topbox .userinfo .user_pic{
    width: 0.53333rem;
    height: 0.53333rem;
    padding: 0.37333rem;
    background:rgba(77,201,189,1);
    opacity:1;
    border-radius: 50%;
    text-align: center;
    margin-right: 0.32rem;
} 
.enrollmentManagement .topbox .userinfo .user_pic img{
    width: 0.53333rem;
    height: 0.53333rem;
} 

.enrollmentManagement .topbox .userinfo .user_state_info .status{
    font-size:0.426666rem;
    font-weight: bold;
    line-height:0.586666rem;
    color:rgba(255,255,255,1);
    margin-bottom: 0.213333rem;
}
.enrollmentManagement .topbox .userinfo .user_state_info > div p{
    font-size:0.32rem;
    font-weight:400;
    /* line-height:0.453333rem; */
    color:rgba(246,246,246,1);
}
.topbox{
    position: relative;
    
}
.enrollmentManagement .topbox .userinfo .user_state_info .renew_btn{

    position: absolute;
    right: 10%;
    top: 45%;
    height: 28px;
    z-index: 999;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 15px;
    padding: 5px 18px;
    box-sizing: border-box;
    font-size: 12px;
}

.enrollmentManagement .topbox .class_infobox{
    width: 10rem;
    height: 2.373333rem;
    background: url('../../images/mine/bgpic2x.png') no-repeat;
    background-size: 100% 100%;
    z-index: 99;
    position: relative;
}

.enrollmentManagement .topbox .class_infobox .infobox{
    display: flex;
    padding: 0.32rem 0.746666rem;
}

.enrollmentManagement .topbox .class_infobox .class_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.enrollmentManagement .topbox .class_infobox .class_info p:nth-child(1){
    font-size:18px;
    font-weight:bold;
    line-height:22px;
    color:rgba(53,50,57,1);
}
.enrollmentManagement .topbox .class_infobox .class_info p:nth-child(2){
    font-size:12px;
    font-weight:400;
    line-height:17px;
    color:rgba(53,50,57,1);
}

/* 主体部分 */
.enrollmentManagement .orderbox{
    /* width: 10rem; */
    padding: 0 16px;
    box-sizing: border-box;
    padding-bottom: 30px;
    
}


.enrollmentManagement .nodatapic{
    width: 9.54rem;
    text-align: center;
    font-size:14px;
    font-weight:400;
    line-height:20px;
    color:rgba(198,198,198,1);
    margin-bottom: 30px;
}
.enrollmentManagement .nodatapic img{
    width: 150px;
    height: 150px;
}

.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.53333rem;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop p:nth-child(1){
    font-size:0.48rem;
    font-weight:bold;
    line-height:25px;
    color:rgba(53,50,57,1);
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop .allorder{
    display: flex;
    align-items: center;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop .allorder span:nth-child(1) {
    font-size:0.373333rem;
    font-weight:400;
    color:rgba(198,198,198,1);
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop .allorder span:nth-child(2) {
    display: inline-block;
    width: 14px;
    height: 14px;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infotop .allorder span:nth-child(2) img{
    
    width: 14px;
    height: 14px;
}

.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item{
    display: flex;
    align-items: center;
    height: 2.69333rem;
    position: relative;
    box-shadow:0px 0px 30px rgba(0,0,0,0.05);
    border-radius: 8px;
    margin-bottom: 0.53333rem;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_pic{
    width: 2.453333rem;
    text-align: center;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_pic p:nth-child(1){
    width: 0.85333rem;
    height: 0.85333rem;
    border-radius: 50%;
    background-color: #EAFEFC;
    margin: 0 auto;
    margin-bottom: 0.213333rem;
}
.enrollmentManagement .orderbox > .enroll_orderinfo .infodown .item .item_pic p:nth-child(2){
    width: 2.453333rem;
    color: #4DC9BD;
    font-size:12px;
    font-weight:400;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_pic img{
    width: 0.373333rem;
    height: 0.373333rem;
    transform: translateY(0.24rem);
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_info{
    
    width: 100%;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_info > p:nth-child(1){
    font-size:14px;
    font-weight:400;
    line-height:20px;
    color:rgba(155,155,155,1);
    width: 16em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_info > p:nth-child(2){
    margin: 0.213333rem 0;
    height: 20px;
    font-size:14px;
    font-weight:bold;
    line-height:20px;
    color:rgba(53,50,57,1);
    width: 8em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_info > p:nth-child(3){
    font-size:12px;
    font-weight:400;
    line-height:17px;
    color:rgba(155,155,155,1);
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item  .item_contact{
    position: absolute;
    right: 0.4266666rem;
    bottom: 0.6rem;
    display: flex;
    color: #fff;
    align-items: center;
    background-color: #4DC9BD;
    height: 0.4533333rem;
    border-radius: 12px;
    box-shadow:0px 3px 6px rgba(59,155,146,0.16);
    padding: 4px 9px 4px 5px;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item  .item_contact img{
    width: 0.426666rem;
    height: 0.426666rem;
    margin-right: 0.106666rem;
}

.enrollmentManagement .bgc_pending{
    background-color: #EAFEFC;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_pic .text_pending{
    color: #4DC9BD;
}
.orderManenrollmentManagementagement .bgc_processed{
    background-color: #F6F6F6;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .item .item_pic .text_processed{
    color: #C6C6C6;
}
/* 弹出框 */
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .mark{
    width: 0.693333rem;
    height: 0.106666rem;
    background:rgba(232,232,232,1);
    opacity:1;
    border-radius:7px;
    margin: 0.426666rem auto 0.66666rem auto;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 0 16px;
    box-sizing: border-box;
}

.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_pic p{
    width: 1.546666rem;
    height: 1.546666rem;
    border-radius:50%;
    opacity:1;
    margin-right: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_pic img{
    width: 0.64rem‬;
    height: 0.64rem;
    display: block;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_info{
    margin-right: 0;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_info p:nth-child(1){
    font-size:0.48rem;
    font-weight:400;
    line-height:30px;
    color:rgba(53,50,57,1);
    opacity:1;
    width: 8em;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enrollmentManagement .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_info p:nth-child(2){
    font-size:0.373333rem;
    font-weight:400;
    line-height:0.53333rem;
    color:rgba(155,155,155,1);
    opacity:1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_attact{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width:1.813333rem;
    height:0.426666rem;
    background:rgba(77,201,189,1);
    box-shadow:0px 3px 6px rgba(59,155,146,0.16);
    opacity:1;
    color:rgba(255,255,255,1);
    border-radius: 15px;
    padding: 0.13333rem 0.24rem 0.106666rem 0.13333rem;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_attact img{
    width: 16px;
    height: 16px;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_top .pup_top_attact p:nth-child(1){
    width: 0.426666rem;
    height: 0.426666rem;
    margin-right: 0.106666rem;
}

.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid{
    width:8.293333rem;
    /* height:3.68rem; */
    background:rgba(252,252,252,1);
    opacity:1;
    border-radius:8px;
    padding: 0.426666rem;
    padding-bottom: 36px;
    margin-left: 0.426666rem;
    margin-top: 0.853333rem;
    margin-bottom: 0.853333rem;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .title{
    font-size:14px;
    font-weight:400;
    line-height:0.533333rem;
    color:rgba(155,155,155,1);
    margin-bottom: 0.32rem;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .left p{
    font-size: 16px;
    font-weight:bold;
    line-height:26px;
    color:rgba(53,50,57,1);
    opacity:1;
    margin-bottom: 0.32rem;
    width: 11em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;

}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .left div{
    display: flex;
    align-items: center;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .left div span{
    
    background:rgba(251,245,237,1);
    opacity:1;
    border-radius:3px;
    margin-right: 0.213333rem;
    font-size:0.26666rem;
    font-weight:400;
    color:rgba(255,159,27,1);
    padding: 0.053333rem 0.106666rem;
    text-align: center;
    box-sizing: border-box;
    display: block;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .right{
    display: flex;
    flex-direction: column;
    text-align: right;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .right p:nth-child(1){
    
    height:0.64rem;
    font-size:0.53333rem;
    font-weight:normal;
    line-height:0.64rem;
    color:rgba(255,68,75,1);
    opacity:1;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .right i{
    font-size:0.32rem;
    font-weight:normal;
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_mid .pup_mid_course_info .right p:nth-child(2){
    font-size:0.32rem;
    font-weight:normal;
    line-height:0.373333rem;
    color:rgba(198,198,198,1);
    opacity:1;
    text-decoration: line-through;
}


.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_down{
    display: flex;
    align-items: center;
    width: 9.146666rem;
    margin-left: 0.426666rem;
    justify-content: space-between;
    
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_down p:nth-child(1){
    width:2.56rem;
    height:1.173333rem;
    background:rgba(246,246,246,1);
    opacity:1;
    border-radius:5px;
    text-align: center;
    font-size:0.426666rem;
    font-weight:400;
    line-height:1.173333rem;
    color:rgba(198,198,198,1);
}
.enrollmentManagement > .orderbox > .enroll_orderinfo .infodown .pup .pup_down p:nth-child(2){
    width:6.16rem;
    height:1.173333rem;
    background:rgba(255,68,75,1);
    opacity:1;
    border-radius:5px;
    text-align: center;
    font-size:0.426666rem;
    font-weight:400;
    line-height:1.173333rem;
    color:rgba(255,255,255,1);
}

/* 弹出框 */

/* 瀑布流 */
.enrollmentManagement .gcList{
    padding: 0 0.35rem 35px 0.35rem;
    overflow: hidden;
    background: #fff;

}

.enrollmentManagement .gcList > .gc_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enrollmentManagement .gcList > .gc_top .gcListitle{
    font-size: 0.48rem;
    font-weight: bold;
    color: #353239;
}
.enrollmentManagement .gcList > .gc_top .liststate{
    display: flex;
    font-size: 0.373333rem;
    color: #C6C6C6;
}
.enrollmentManagement .gcList > .gc_top .liststate p{
    margin-left: 0.32rem;
    
}
.showActive{
    font-weight: bold;
    color: #353239;
}

/* 好课 */
.enrollmentManagement .gcList .listbox{
    margin-top: 0.5333rem;
}

.enrollmentManagement .gcList .listbox .item{
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin-bottom: 8px;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.enrollmentManagement .gcList .listbox .item .lowershelf{
    width:61px;
    height:25px;
    line-height: 25px;
    text-align: center;
    background:rgba(53,50,57,0.6);
    border-radius:8px 0px 8px 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
.enrollmentManagement .gcList .listbox .item .lowershelf p{
    color:rgba(255,255,255,1);
    opacity: 1;
}
.lower{
    color: rgba(155, 155, 155, 1)!important;
}
.lowerbg{
    background-color: rgba(246, 246, 246, 1)!important;
}
.lowertagprice{
    color: rgba(198, 198, 198, 1)!important;
}
.enrollmentManagement .gcList .listbox #vueWaterfall{
    overflow: visible;
}
.enrollmentManagement .gcList .listbox .item .listpic{
    width: 100%;
    overflow: hidden;
    height: 3.09333rem;
    background: url('../../assets/images/default.png') no-repeat;
    background-size: 100% 100%;
}
.enrollmentManagement .gcList .listbox .item .listpic img{
    /* width: 100%; */
    /* height: 3.09333rem; */
    width: 100%;  
    height: 100%;  
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.enrollmentManagement .gcList .listbox .item .tagbox{
    display: flex;
    flex-direction: row;
    margin-top: 6px;
    margin-bottom: 8px;
    padding-left: 0.21333rem;
}
.enrollmentManagement .gcList .listbox .item .tagbox span{
    font-size: 10px ;
    font-weight: 500;
    line-height: 14px;
    color: #ff9f1b;
    border-radius: 3px;
    padding: 2px 4px;
    background-color: #fbf5ed;
    margin-right: 0.1334rem;
}
.enrollmentManagement .gcList .listbox .item .titl{
    color: #353239;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    padding: 0 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    box-sizing: border-box;

}
.enrollmentManagement .gcList .listbox .item .price{
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 8px;
    box-sizing: border-box;
}
.enrollmentManagement .gcList .listbox .item .price i{
    font-size: 12px;
}
.enrollmentManagement .gcList .listbox .item .price span{
    display: inline-block;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .price span:nth-child(1){
    color: #FF444B;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 8px;
}
.enrollmentManagement .gcList .listbox .item .price span:nth-child(2){
    color: #C6C6C6;
    font-size: 12px;
    line-height: 24px;
    text-decoration: line-through;
    font-weight: normal;
}

.enrollmentManagement .gcList .listbox .item .divider{
    padding: 0 0.21333rem;
    margin: 0;
}

.enrollmentManagement .gcList .listbox .item .location{
    display: flex;
    flex-direction: row;
    padding-bottom: 0.32rem;
    margin-top: 0.32rem;
} 
.enrollmentManagement .gcList .listbox .item .location .locapic{
    width: 0.85333rem;
    height: 0.85333rem;
    border-radius: 5px;
    margin-left: 0.21333rem;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .location .locapic img{
    /* width: 0.85333rem;
    height: 0.85333rem; */
    width: 100%;  
    height: auto;  
}

.enrollmentManagement .gcList .listbox .item .location .locainfo{
    display: flex;
    flex-direction: column;
}

.enrollmentManagement .gcList .listbox .item .location .locainfo span{
    margin-left: 0.2666rem;
}
.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(1){
    font-size: 12px;
    height: 0.45333rem;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    width: 9em;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(2){
    font-size: 11px;
    height: 14px;
    color: #9B9B9B;
    line-height: 20px;
} 

.enrollmentManagement .gcList .listbox .item .location .locainfo span:nth-child(2) i{
    color: #4DC9BD;
} 