.storemanagement{
    background:rgba(246,246,246,1);
    height: 105vh;
    opacity: 1;
    padding-bottom: 30px;
}
.storemanagement .container{
    width:100%;
    background:rgba(246,246,246,1);
    opacity:1;
}
.storemanagement .container .topbox{
    display: flex;
    align-items: center;
    padding-top: 0.853333rem;
    padding-left: 0.64rem;
    margin-bottom: 26px;
}
.storemanagement .container .topbox .left{
    height: 1.76rem;
    width: 1.76rem;
    margin-right: 0.426666rem
}
.storemanagement .container .topbox .left img{
    height: 1.76rem;
    width: 1.76rem;
    background:rgba(0,0,0,0);
    box-shadow:0px 4px 10px rgba(0,0,0,0.12);
    opacity:1;
    border-radius:8px;
}
.storemanagement .container .bgpic{
    width: 9.1466666666666rem;
    margin: 0 auto;
    box-sizing: border-box;
}
.storemanagement .container .bgpic img{
    width: 100%;
}
/*列表头部和图标 */
.storemanagement .container .orginfo{
    z-index: 100;
    opacity: 1;
    height: 1.093333rem;
    padding-left: 0.893719rem;
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.storemanagement .container .orginfo .renew_btn{
    position: absolute;
    right: 10%;
    top: 25%;
    height: 28px;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: 5px 18px;
    box-sizing: border-box;
    font-size: 12px;
}
.storemanagement .container .orginfo > p{
    height:20px;
    font-size:14px;
    font-weight:bold;
    line-height:20px;
    color:rgba(255,255,255,1);
    opacity:1;
    margin-bottom: 4px;
}
.storemanagement .container .orginfo div{
    width:14em;
    height:17px;
    font-size:12px;
    font-weight:300;
    line-height:17px;
    color:#f6f6f6;
    opacity:1;
}
.storemanagement .container .top{
    display: flex;
    align-items: center;
    clear: both;
    margin-bottom: 30px;
}
.storemanagement .container .top .toptitle{
    text-align: center;
    width: 33.33333333%;
    vertical-align: middle;
    box-sizing: border-box;
}
.storemanagement .container .top .toptitle p:nth-child(1){
    height:0.586666rem;
    font-size:0.48rem;
    font-weight:normal;
    line-height:0.586666rem;
    color:#FFFFFF;
    opacity:1;
    margin-bottom: 0.106666rem;
}
.storemanagement .container .top .toptitle p:nth-child(2){
    height:0.453333rem;
    font-size:0.32rem;
    font-weight:300;
    line-height:0.453333rem;
    color:#f6f6f6;
    opacity:1;
}

.storemanagement .listbox{
    /* margin-top: -30px; */
    background:rgba(246,246,246,1);
    opacity:1;
    box-sizing: border-box;
    padding: 0 0.426666666rem;
    padding-top: 0;
}
.storemanagement .listbox .list{
    position: relative;
    z-index: 99;
    background:rgba(255,255,255,1);
    opacity:1;
    padding: 30px 0 5px 0;
    border-radius: 0 0 8px 8px;
}
.storemanagement .listbox .list .row{
    display: flex;
    align-items: center;
    clear: both;
    margin-bottom: 30px;
}
.storemanagement .listbox .list .row .list_item{
    text-align: center;
    width: 33.33333333%;
    vertical-align: middle;
    box-sizing: border-box;
}
.storemanagement .listbox .list .row  .list_item img{
    width: 48px;
    height: 48px;
} 
.storemanagement .listbox .list .row  .list_item p:nth-child(1){
    width:48px;
    height:48px;
    margin: 0 auto;
    margin-bottom: 8px;
    opacity:1;
    border-radius:24px;
} 
.storemanagement .listbox .list .row  .list_item p:nth-child(2){
    height:17px;
    font-size:12px;
    font-weight:400;
    line-height:17px;
    color:rgba(94,88,98,1);
    opacity:1;
} 
.storemanagement .bgpic{
    padding: 10px 0;
    background: url('../../images/mine/newbg2x.png') no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}
.storemanagement .topbox{
    position: relative;
    z-index: 999;
    
}

.storemanagement .enrollmana{
    width:9.146666rem;
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius:8px;
    display: flex;
    align-items: center;
    margin: 0.53333rem auto;
    padding: 20px 0;
}
.storemanagement .enrollmana .pic{
    margin-right: 0.32rem;
    margin-left: 0.88rem;
    width: 48px;
    height: 48px;
    box-shadow:0px 3px 6px rgba(250, 100, 84, .2);
    border-radius:24px;
}
.storemanagement .enrollmana img{
    width: 48px;
    height: 48px;
}
.storemanagement .enrollmana .info{
    margin-right: 0.693333rem;

}
.storemanagement .enrollmana .info > p{
    font-size:16px;
    font-weight:bold;
    line-height:1.6;
    color:rgba(94,88,98,1);
    opacity:1;
    white-space: nowrap;
}
.storemanagement .enrollmana .info div p{
    width:3.65333rem;
    height:0.53333333rem;
    font-size:14px;
    font-weight:400;
    line-height:0.53333333rem;
    color:rgba(198,198,198,1);
    opacity:1;
    white-space: nowrap;
}
.storemanagement .enrollmana .btn{
    width:1.6rem;
    height:0.74666rem;
    border:1px solid rgba(255,68,75,1);
    opacity:1;
    border-radius:3px;
    text-align: center;
    line-height: 0.75666rem;
    font-size:12px;
    font-weight:400;
    color:rgba(255,68,75,1);
}

/* 头部 */
.storemanagement .topbox .right .store_name{
    width:14em;
    height:0.66666rem;
    font-size:0.48rem;
    font-weight:bold;
    line-height:25px;
    color:rgba(53,50,57,1);
    opacity:1;
    margin-bottom:4px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
    margin-bottom: 0.32rem;
}
.storemanagement .topbox .right .links{
    font-size:0.373333rem;
    font-weight:400;
    color:#9b9b9b;
    opacity:1;
    display:flex;
}
.storemanagement .topbox .right .links .orgindex{
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius:16px;
    display:flex;
    align-items: center;
    padding: 5px 15px;
    margin-right: 10px;
    white-space: nowrap;
}

.storemanagement .topbox .right .links .edit{
    background:rgba(255,255,255,1);
    opacity:1;
    border-radius:16px;
    display:flex;
    align-items: center;
    padding: 5px 13px;
    white-space: nowrap;
}