.storemanagement{ 
    height: 105vh;
}
.storemanagement .container{
    width:100%;
    background:rgba(246,246,246,1);
    opacity:1;
}

.storemanagement .container .bgpic{
    box-sizing: border-box;
    color: #353239;
    padding: 0 16px;
    background: #FFFFFF;
}

/*列表头部和图标 */
.storemanagement .container .bgpic .store_service_wrap{
    z-index: 100;
    color: #353239;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px 20px 0 20px;
    position: relative;
    background: #fff;
    top: -73px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}

.storemanagement .container .bgpic .store_service_wrap .store_service_product_item{
    box-sizing: border-box;
    padding: 0 9px;
    color: #C6C6C6;
}
.store_service_info{
    font-size: 12px;
    
    font-weight: 400;
    line-height: 17px;
    position: relative;
    box-sizing: border-box;
}
.store_service_info .store_service_name{
    color: #353239;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 4px;
}
.store_mana_renew_btn{
    position: absolute;
    bottom: 25%;
    right: 0;
    box-sizing: border-box;
    color: #C6C6C6;
    border-radius: 14px;
    background: #f6f6f6;
    min-width: 60px;
    text-align: center;
}
.store_mana_renew_btn span{ 
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 30px;
}
.store_data_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}
.store_data_info .toptitle{
    text-align: center;
    line-height: 14px;
    min-width: 22%;

}
.store_data_info .toptitle p:nth-child(1){
    font-size:18px;
    font-weight:500;
    line-height:24px;
    color:#353239;

}


/* .store_service_listbox{
    border: 1px solid red;
} */
.store_service_listbox .store_service_list{
    text-align: center;
    overflow: hidden;
} 
.store_service_listbox .store_service_list .row{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
}
.store_service_listbox .store_service_list .row img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.store_service_listbox .store_service_list .row .list_item{
    width: 66px;
    background: rgba(0,0,0,0);
}
.store_service_listbox .store_service_list .row .list_item p:nth-child(2){
    color: #7A7A7A;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 4px;
}
/* 头部 */
.storemanagement > .container > .topbox{
    width: 10rem;
    height: 297px;
    padding: 130px 16px 0 16px;
    box-sizing: border-box;
    background: url('../../images/mine/store-mana-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info{
    display: flex;
    align-items: center;
    box-sizing: inherit;
}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store_mainpic{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .4);
    box-sizing: border-box;
    padding: 3px;
    margin-right: 12px;
}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store_mainpic div{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;

}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store_mainpic img{
    width: 60px;
    height: 60px;
}


.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store .store_name{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    width: 13em;
    color: #FFFFFF;
    overflow:hidden; 
    text-overflow:ellipsis;
    display:-webkit-box; 
    -webkit-box-orient:vertical;
    -webkit-line-clamp:1;
    margin-bottom: 8px;
}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store .store_btn_box{
    display: flex;
    align-items: center;
}
.storemanagement > .container > .topbox .store_mana_store_info_box .store_mana_store_info .store_mana_store .store_btn_box .store_index_page{
    display: flex;
    align-items: center;
    background: rgba(252, 240, 241, .3);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 3px 6px 3px 8px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
}
