.van-uploader__upload{
    border: 1px solid #60C38C!important;
}
.quick_to_colock .van-uploader__preview-delete{
    color: #60C38C!important
}
.van-uploader__upload-icon{
    display: none;
}
.van-uploader__upload-text{
    margin-top: 0;
    color: #60C38C;
}
input,textarea  {
    font-size: 18px!important;
    font-weight: 400!important;
}

.van-tab{
    color: #C6C6C6;
    font-size: 16px;
    font-weight: bold;
}
.van-tab--active{
    color: #181818;
    font-size: 18px;
    font-weight: bold;
}
.van-tabs__line{
    background-color: #60C38C;
}
    


            
                