/* fontsize */
.font_10px{
    font-size: 10px;
    line-height: 14px;
}
.font_12px{
    font-size: 12px;
    line-height: 17px;
}
.font_13px{
    font-size: 13px;
    line-height: 22px;
}
.font_14px{
    font-size: 14px;
    line-height: 20px;
}
.font_16px{
    font-size: 16px;
    line-height: 22px;
}
.font_18px{
    font-size: 18px;
    line-height: 25px;
}
.font_20px{
    font-size: 20px;
    line-height: 28px;
}
/* color */
.color_white{
    color:#fff;
}
.color_green{
    color: #2ac688;
}
.color_green_light{
    color: #EAFFF6;
}
.color_gray{
    color: #78849e;
}
.color_gray_light{
    color: #A9B1C3;
}
.color_black{
    color:#353239;
}
.color_gold{
    color: #F4DCBC;
}

/* margin */
.margin_top_4{
    margin-top: 4px;
}
.margin_top_8{
    margin-top: 8px;
}
.margin_top_12{
    margin-top: 12px;
}
.margin_top_16{
    margin-top: 16px;
}
.margin_left_4{
    margin-left: 4px;
}
.margin_left_6{
    margin-left: 6px;
}
.margin_left_12{
    margin-left: 12px;
}
/* avator */
.avator{
    font-size: 0;
    line-height: 0;
}
.avator img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avator_48{
    width: 48px;
    height: 48px;
    border-radius: 24px;
    margin-right: 12px;
    overflow: hidden;
    flex-shrink: 0;
}
.avator_48 p{
    width: 48px;
    line-height: 48px;
    text-align: center;
    background: #f6f6f6;
    color: #78849e;
    display: inline-block;
}
/* font-weight */
.font_weight_bold{
    font-weight: bold;
}
.font_weight_400{
    font-weight: 400;
}
.font_weight_600{
    font-weight: 600;
}
.font_weight_700{
    font-weight: 700;
}
/* font-weight */

.btn_clock_theme{
    background: #60C38C;
    color: #FFFFFF;
}

.ellipsis img{
    width: 20px;
}


/* btn */
.btn_60C38C{
    background: #60C38C;
    box-shadow:0px 4px 6px rgba(33,140,87,0.2);
    color: #FFFFFF;
    border-radius: 15px;
}

/* img */
.img_10{
    width: 10px;
    height: 10px;
    margin-right: 4px;
    display: block;
}
.img_14{
    width: 14px;
    height: 14px;
    display: block;
}
.img_16{
    width: 16px;
    height: 16px;
    display: block;
}
.img_20{
    width: 20px;
    height: 20px;
    display: block;
}
.img_28{
    width: 28px;
    height: 28px;
    display: block;
}
.img_48{
    width: 48px;
    height: 48px;
    display: block;
}
.img_60{
    width: 60px;
    height: 60px;
    display: block;
}
.img_74{
    width: 74px;
    height: 74px;
    display: block;
}
.img_104{
    width: 104px;
    height: 104px;
    display: block;
}


.img_16_round{
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
}
.img_28_round{
    width: 28px;
    height: 28px;
    display: block;
    border-radius: 50%;
}
.img_48_round{
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 50%;
}
.img_60_round{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50%;
}
.img_74_round{
    width: 74px;
    height: 74px;
    display: block;
    border-radius: 50%;
}
.img_104_round{
    width: 104px;
    height: 104px;
    display: block;
    border-radius: 50%;
}
/* img  */


/* 限制单行 */
.line_1{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* 限制双行 */
.line_2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
}